
.h-scroll {
    height: 410px; /* %-height of the viewport */
    overflow-y: scroll;

}

.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    color: #fff;
    height: 75px;
    width: 75px;
}
