<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-social.css') }}"/>
    <link href="{{ url_for('static', filename='css/bootstrap-treeview.css') }}" rel="stylesheet">

    <style>
        .h-scroll {
            height: 410px; /* %-height of the viewport */
            overflow-y: scroll;

        }
        .twPc-avatarImg {
            border: 2px solid #fff;
            border-radius: 50%;
            box-sizing: border-box;
            color: #fff;
            height: 75px;
            width: 75px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Social Knowledge Extractor</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="jumbotron vertical-center text-center">

        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
        {% if current_user.is_authenticated %}
            <div class="row">
                <div class="col-md-1">
                    <img alt="{{ current_user.nickname }}" src="{{ current_user.profile_img }}" class="twPc-avatarImg">
                </div>
                <div class="col-md-9 text-left">
                    <h2 style="margin-top: 0px !important;">Hi, {{ current_user.nickname }}!</h2>
                    <a href="{{ url_for('logout') }}" class="btn btn-social btn-twitter">
                        <span class="fa fa-twitter"></span> Logout
                    </a>
                </div>
            </div>

            <hr>
            <div class="row text-left">
                <form id="main-form" action="/run" method="POST" enctype="multipart/form-data">
                    {% if current_user.email == None %}
                        <div class="row" style="padding-top: 15px; padding-bottom: 15px">
                            <div class="col-md-6">
                                <h2 class="control-label">Insert Email</h2>
                                <div class="form-group">
                                    <label for="Email">Email address</label>
                                    <input type="email" class="form-control" name="email" id="email"
                                           aria-describedby="emailHelp"
                                           placeholder="Enter email">
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row" style="padding-top: 15px; padding-bottom: 15px">
                        <div class="col-md-6">
                            <h2 class="control-label">Insert Dandelion Key</h2>
                            <div id="dandelion_input">
                                <div class="form-group">
                                    <label for="consumer_secret">Dandelion App ID</label>
                                    <input type="text" class="form-control" name="dandelion_app_id" id="dandelion_app_id"
                                           placeholder="Enter access dandelion app ID">
                                </div>
                                <div class="form-group">
                                    <label for="consumer_secret">Dandelion App Key</label>
                                    <input type="text" class="form-control" name="dandelion_app_key" id="dandelion_app_key"
                                           placeholder="Enter access dandelion app Key">
                                </div>
                            </div>
                            <a href="#" onclick="toggler('dandelion_input');">Use Platform's Dandelion Keys <i
                                    id="arr_dandelion_input" class="fa fa-arrow-up"></i></a><br>
                        </div>
                        <div class="col-md-6">
                            <input type="hidden" name="count" value="1"/>
                            <div class="control-group" id="fields">
                                <h2 class="control-label">Insert Twitter handles</h2>
                                <label style="visibility: hidden" for="consumer_secret">nsert Twitter handles</label>

                                <div class="controls" id="profs">
                                    <div class="input-append">
                                        <div class="row dynamic-input" id="field1" style="margin-bottom: 5px">
                                            <div class="col-md-10"><input autocomplete="off" class="form-control"
                                                                          id="input-field1" name="prof1" type="text"
                                                                          placeholder="Twitter username 1"
                                                                          aria-describedby="sizing-addon2" data-items="8"/>
                                            </div>
                                            <div class="col-md-2" id="add_col">
                                                <button id="b1" class="btn add-more" type="button">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" onclick="toggler('seed_input_file');">Load seeds by csv File <i
                                    id="arr_seed_input_file" class="fa fa-arrow-down"></i></a><br>

                            <div class="form-group" id="seed_input_file" style="display: none">
                                <input type="file" class="form-control-file" name="input_seeds" id="input_seeds"
                                       aria-describedby="fileHelp">
                                <small id="fileHelp" class="form-text text-muted">List of Seeds (Max 20 seeds). <a
                                        target="_blank" href="{{ url_for('static',filename='csv_exemples/seed.csv') }}">Here
                                    you can see an exemple:</a></small>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 15px;">
                        <div class="col-sm-6">
                            <h2 class="control-label">Search DBPedia Types</h2>
                            <!-- <form> -->
                            <div class="form-group">
                                <label for="input-search" class="sr-only">Search Type:</label>
                                <input type="input" class="form-control" id="input-search" placeholder="Type to search..." value="">
                            </div>
                            <!-- </form> -->
                            <h2>Results:</h2>
                            <div id="search-output" style="overflow-y: scroll;height: 300px;"></div>
                        </div>
                        <div class="col-sm-6">
                            <h2>DbPedia Types</h2>
                            <div id="treeview-searchable" class="h-scroll"></div>
                        </div>
                        <div class="col-md-6">
                            <a href="" onclick="toggler('expert_input_file');">Load expert types by csv File <i
                                    id="arr_expert_input_file" class="fa fa-arrow-down"></i></a><br>

                            <div class="form-group" id="expert_input_file" style="display: none">
                                <input type="file" class="form-control-file" name="input_expert" id="input_expert"
                                       aria-describedby="fileHelp">
                                <small id="fileHelp" class="form-text text-muted">List of Expert Types extracted from
                                    DBPedia <a target="_blank"
                                               href="{{ url_for('static',filename='csv_exemples/seed.csv') }}">Here you can
                                        see an exemple:</a></small>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button id="submit-form" style="margin-top: 15px;" type="submit" class="btn btn-primary">Run Pipeline</button>
                </form>
            </div>
            </div>
        {% else %}
            <h1>Run Pipeline</h1>
            <p class="lead">Fill the form in order to run the pipeline</p>
            <a href="{{ url_for('oauth_authorize', provider='twitter') }}" class="btn btn-social btn-twitter">
                <span class="fa fa-twitter"></span> Sign in with Twitter
            </a>
        {% endif %}
</div>
</div>
<!-- /.container -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap-treeview.js') }}"></script>

<script src="{{ url_for('static', filename='js/data.js') }}"></script>

<script>

    $("#submit-form").on("click",function(e){
        e.preventDefault();
        console.log($('.node-checked'));
        $('.node-checked').each(function(index) {
              $("#main-form").append('<input style="display:none" type="checkbox" name="check-box'+index+'" value="'+$(this).text()+'" checked> '+$(this).text()+'');
        });
        $("#main-form").submit();
    });

    var $searchableTree = $('#treeview-searchable').treeview({
        data: data,
        showCheckbox: true
    });
    var search = function (e) {
        var pattern = $('#input-search').val();
        var options = {
            ignoreCase: true,
            exactMatch: false,
            revealResults: false
        };
        var results = $searchableTree.treeview('search', [pattern, options]);

        // Check/uncheck/toggle nodes
        var findExpandibleNodess = function() {
          return $searchableTree.treeview('search', [ pattern, { ignoreCase: false, exactMatch: true } ]);
        };
        $('.expand-node').prop('disabled', !(findExpandibleNodess().length >= 1));


        var output = '<p>' + results.length + ' matches found</p>';
        $.each(results, function (index, result) {
            output += '<p>- ' + result.text + '</p>';
        });
        $('#search-output').html(output);

    };
    $('#input-search').on('keyup', search);

    $(document).ready(function () {
        var next = 1;
        $(".add-more").click(function (e) {
            var number_fields = $('.dynamic-input').length + 1;
            console.log(number_fields);
            e.preventDefault();
            next = next + 1;
            var adding = '<div class="row dynamic-input" id="field' + next + '" style="margin-bottom: 5px"><div class="col-md-10"><input autocomplete="off" class="form-control" id="input-field' + next + '" name="prof' + next + '" type="text" placeholder="Twitter username ' + next + '" aria-describedby="sizing-addon2" data-items="8"/></div></div>';
            var removeBtn = '<div class="col-md-2" id="remove_col' + next + '"><button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >-</button></div></div></div>';

            $("#field" + (next - 1)).after(adding);

            $("#field" + (next)).append($("#add_col"));
            if (number_fields >= 20) {
                $("#add_col").hide();
            }

            $("#field" + (next - 1)).append(removeBtn);

            $('.remove-me').click(function (e) {
                e.preventDefault();
                var fieldNum = this.id.match(/\d+/);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();

                console.log($('.dynamic-input').length + 1);
                if ($('.dynamic-input').length + 1 <= 20) {
                    $("#add_col").show();
                }
            });

        });
    });

    function toggler(divId) {
        $("#" + divId).toggle();
        if ($("#" + "arr_" + divId).attr("class") == 'fa fa-arrow-up')
            $("#" + "arr_" + divId).attr('class', 'fa fa-arrow-down');
        else
            $("#" + "arr_" + divId).attr('class', 'fa fa-arrow-up');
    }
</script>

</body>
</html>